@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: linear-gradient(#12100E, #2B4162);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}


#home {
    height: 520px;
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: auto;
    font-family: 'Edu TAS Beginner', cursive;
}

#home .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 34px;
}

#roles {
    text-shadow: 0px 0px 5px #3fb950;
    font-size: 30px;
}

#home .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .right img {
    height: 340px;
}


#about {
    border: 1px solid white;
    border-radius: 6px;
    padding: 24px;
    text-align: justify;
    width: 20%;
    margin: auto;
}

#about:hover{
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
}

#education {
    text-align: center;
    margin: 34px auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}

#education > div{
    display: flex;
    padding: 24px;
    gap: 14px;
}
#education .card1 h3{
    color:#00ff99;

}
#education .card2 h3{
    color:#00ff99;

}
#education .card3 h3{
    color:#00ff99;

}
#education>h1{
    text-shadow: 0px 0px 5px #3fb950;
}
#education > div > div{
    padding: 14px;
    width: 33%;
    border: 1px solid white;
    border-radius: 6px; 
}

#education > div > div:hover{
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

#skills{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#skills > h1{
    padding: 14px;
}

#skills > div {
    /* border: 1px solid white; */
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    padding: 24px; 
    justify-content: center;
    gap: 44px;
}

#skills > div > div{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transform: rotate(45deg);
    border: 1px solid white;
    padding: 24px;
}

#skills > div > div:hover{
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}

#skills > div > div .rotate{
    transform: rotate(-45deg);
}


#project {
    margin: 24px auto;
    padding: 24px;
    /* text-shadow: 0px 0px 5px #3fb950; */
}

#project h1{
    text-align: center;
    margin: 12px auto;
}

#Project > div{
    display: flex;
    padding: 24px;
    gap: 24px;
}

#project > div > div{
    border: 1px solid white;
    border-radius: 6px;
    width: 50%;
    padding: 24px;
}

#project .Pname {
    font-size: larger;
}

#project .p1 pdes {
    display: flex;
}
#project .p2 .imag img{
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 10%;
    margin-top: 10px;

}

#project .p1 img{
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 10%;
    margin-top: 10px;

}
.Pname{
    align-items: center;
}
#project .p1:hover{
    box-shadow: rgb(204, 255, 204) 0px 5px 15px;
}

#project .p2:hover{
    box-shadow: rgb(204, 255, 204) 0px 5px 15px;
}

#Certification {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 24px;
}

#Certification h1{
    text-align: center;
    margin: 24px auto;
}
#skills h1{
    text-shadow: 0px 0px 5px #3fb950;
}
#project h1{
    text-shadow: 0px 0px 5px #3fb950;
}
#Coding{
    border: 1px solid white;
    border-radius: 6px;
    padding: 24px;
    text-align: justify;
    width: auto;
    margin: auto;
    display: flex;
    
}
#Coding:hover{
    box-shadow: rgb(204, 255, 204) 0px 5px 15px;
}
#Coding .codeforces{
    border: 1px solid white;
    padding: 10px;
    
    
}
#Coding .leetcode{
    border: 1px solid white;
    padding: 10px;
    margin-left: 10px;
   
}
.cd{
    text-align: center;
    text-shadow: 0px 0px 5px #3fb950;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
  }
